
   .demo-section label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    #employees {
        width: 270px;
    }

    #example .demo-section {
        max-width: none;
        width: 600px;
    }

    #example .k-listbox {
        width: 236px;
        height: 350px;
    }

    #example .k-listbox:first-of-type {
        width: 270px;
        margin-right: 1px;
    }